In [3]:
import pandas as pd
df = pd.read_csv("/home/schumahe/Schumacher/Modul_3/data/Library_Usage.csv")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [4]:
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,NaN
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,6.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2003,False,3.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016,a,print,False,2003,False,3.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016,z,email,True,2003,False,11.0
39585,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,July,2016,p,phone,False,2003,False,3.0
57239,0,ADULT,10906,1421,45 to 54 years,P1,Park,July,2016,z,email,True,2003,False,8.0
86662,3,SENIOR,11748,963,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,5.0
117628,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
120604,3,SENIOR,10108,59,65 to 74 years,X,Main Library,November,2013,p,phone,False,2003,False,6.0
129341,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,July,2016,p,phone,False,2004,False,NaN
138351,0,ADULT,10809,24,20 to 24 years,S7,Sunset,July,2016,z,email,True,2010,False,4.0
145600,3,SENIOR,11871,50,65 to 74 years,M4,Merced,July,2016,z,email,True,2003,False,7.0
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
156806,0,ADULT,17308,257,60 to 64 years,X,Main Library,July,2016,z,email,True,2003,False,6.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
176606,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
200204,3,SENIOR,18397,6,65 to 74 years,X,Main Library,July,2016,z,email,True,2005,False,NaN
216300,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,July,2016,z,email,True,2003,False,4.0
222889,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2006,False,8.0
227568,3,SENIOR,11147,123,65 to 74 years,M6,Mission,July,2016,a,print,False,2003,False,NaN
231807,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2003,False,8.0
237668,0,ADULT,15505,294,60 to 64 years,X,Main Library,July,2016,p,phone,False,2004,False,6.0
255021,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,NaN
278408,3,SENIOR,11366,62,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
288655,0,ADULT,15598,228,55 to 59 years,X,Main Library,July,2016,p,phone,False,2003,False,11.0
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016,p,phone,False,2003,False,6.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015,p,phone,False,2003,False,3.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016,z,email,True,2004,True,NaN

In [5]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,NaN
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,6.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2003,False,3.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016,a,print,False,2003,False,3.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016,z,email,True,2003,False,11.0
39585,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,July,2016,p,phone,False,2003,False,3.0
57239,0,ADULT,10906,1421,45 to 54 years,P1,Park,July,2016,z,email,True,2003,False,8.0
86662,3,SENIOR,11748,963,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,5.0
117628,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
120604,3,SENIOR,10108,59,65 to 74 years,X,Main Library,November,2013,p,phone,False,2003,False,6.0
129341,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,July,2016,p,phone,False,2004,False,NaN
138351,0,ADULT,10809,24,20 to 24 years,S7,Sunset,July,2016,z,email,True,2010,False,4.0
145600,3,SENIOR,11871,50,65 to 74 years,M4,Merced,July,2016,z,email,True,2003,False,7.0
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
156806,0,ADULT,17308,257,60 to 64 years,X,Main Library,July,2016,z,email,True,2003,False,6.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
176606,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
200204,3,SENIOR,18397,6,65 to 74 years,X,Main Library,July,2016,z,email,True,2005,False,NaN
216300,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,July,2016,z,email,True,2003,False,4.0
222889,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2006,False,8.0
227568,3,SENIOR,11147,123,65 to 74 years,M6,Mission,July,2016,a,print,False,2003,False,NaN
231807,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2003,False,8.0
237668,0,ADULT,15505,294,60 to 64 years,X,Main Library,July,2016,p,phone,False,2004,False,6.0
255021,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,NaN
278408,3,SENIOR,11366,62,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
288655,0,ADULT,15598,228,55 to 59 years,X,Main Library,July,2016,p,phone,False,2003,False,11.0
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016,p,phone,False,2003,False,6.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015,p,phone,False,2003,False,3.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016,z,email,True,2004,True,NaN

In [6]:
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
62,3,SENIOR,193,90,65 to 74 years,A5,Anza,July,2016,z,email,True,2007,False,1.0
176,3,SENIOR,7,8,65 to 74 years,X,Main Library,April,2014,z,email,True,2012,True,NaN
260,3,SENIOR,341,212,65 to 74 years,P1,Park,July,2016,z,email,True,2003,False,5.0
294,3,SENIOR,67,26,75 years and over,P5,Portola,July,2016,z,email,True,2009,False,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423359,3,SENIOR,4,0,75 years and over,W4,Western Addition,May,2013,z,email,True,2012,False,5.0
423388,3,SENIOR,25,34,75 years and over,X,Main Library,May,2016,z,email,True,2015,True,NaN
423403,3,SENIOR,458,129,75 years and over,E9,Excelsior,June,2016,z,email,True,2003,True,NaN
423405,3,SENIOR,280,27,75 years and over,X,Main Library,July,2016,z,email,True,2003,False,9.0
423431,3,SENIOR,0,0,75 years and over,X,Main Library,None,None,z,email,True,2012,False,6.0

In [7]:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter1

0         False
1          True
2         False
3         False
4         False
          ...
423443    False
423444    False
423445    False
423446     True
423447    False
Name: Total Checkouts, Length: 423448, dtype: bool

In [8]:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

In [9]:
childs = df["Patron Type Definition"] == "JUVENILE"
df.loc[childs]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
283,1,JUVENILE,67,1,10 to 19 years,R3,Richmond,June,2014,p,phone,True,2010,False,5.0
287,1,JUVENILE,0,0,0 to 9 years,M6,Mission,None,None,p,phone,False,2014,False,6.0
289,1,JUVENILE,20,0,0 to 9 years,E9,Excelsior,July,2016,z,email,True,2016,False,11.0
291,1,JUVENILE,53,31,0 to 9 years,A5,Anza,June,2013,z,email,True,2012,False,1.0
292,1,JUVENILE,1,0,0 to 9 years,O7,Ortega,June,2014,z,email,True,2014,False,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423429,1,JUVENILE,0,0,0 to 9 years,N4,Noe Valley/Sally Brunn,None,None,z,email,True,2015,False,8.0
423434,1,JUVENILE,10,0,0 to 9 years,V3,Visitacion Valley,September,2015,p,phone,False,2012,False,10.0
423437,1,JUVENILE,0,0,0 to 9 years,W4,Western Addition,None,None,z,email,True,2015,False,5.0
423439,1,JUVENILE,0,0,0 to 9 years,N4,Noe Valley/Sally Brunn,None,None,z,email,True,2015,False,8.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [10]:
df[childs]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
283,1,JUVENILE,67,1,10 to 19 years,R3,Richmond,June,2014,p,phone,True,2010,False,5.0
287,1,JUVENILE,0,0,0 to 9 years,M6,Mission,None,None,p,phone,False,2014,False,6.0
289,1,JUVENILE,20,0,0 to 9 years,E9,Excelsior,July,2016,z,email,True,2016,False,11.0
291,1,JUVENILE,53,31,0 to 9 years,A5,Anza,June,2013,z,email,True,2012,False,1.0
292,1,JUVENILE,1,0,0 to 9 years,O7,Ortega,June,2014,z,email,True,2014,False,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423429,1,JUVENILE,0,0,0 to 9 years,N4,Noe Valley/Sally Brunn,None,None,z,email,True,2015,False,8.0
423434,1,JUVENILE,10,0,0 to 9 years,V3,Visitacion Valley,September,2015,p,phone,False,2012,False,10.0
423437,1,JUVENILE,0,0,0 to 9 years,W4,Western Addition,None,None,z,email,True,2015,False,5.0
423439,1,JUVENILE,0,0,0 to 9 years,N4,Noe Valley/Sally Brunn,None,None,z,email,True,2015,False,8.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [11]:
df[childs].count()

Patron Type Code                59208
Patron Type Definition          59208
Total Checkouts                 59208
Total Renewals                  59208
Age Range                       59178
Home Library Code               59208
Home Library Definition         59208
Circulation Active Month        59208
Circulation Active Year         59208
Notice Preference Code          59208
Notice Preference Definition    59208
Provided Email Address          59208
Year Patron Registered          59208
Outside of County               59208
Supervisor District             50284
dtype: int64

In [14]:
many_checkouts = df["Total Checkouts"] >= 20000
df[many_checkouts]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN

In [17]:
outside = df["Supervisor District"].isin([1, 2, 3])
df[outside]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
13,0,ADULT,88,64,35 to 44 years,A5,Anza,July,2016,z,email,True,2011,False,1.0
14,0,ADULT,22,6,45 to 54 years,M2,Marina,May,2016,z,email,True,2010,False,2.0
17,0,ADULT,5,1,25 to 34 years,A5,Anza,January,2012,z,email,True,2009,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423415,1,JUVENILE,475,148,0 to 9 years,P9,Presidio,July,2016,z,email,True,2014,False,2.0
423418,3,SENIOR,6,1,75 years and over,R3,Richmond,September,2015,p,phone,False,2014,False,1.0
423420,1,JUVENILE,5,0,10 to 19 years,R3,Richmond,July,2015,z,email,True,2015,False,1.0
423427,1,JUVENILE,42,1,0 to 9 years,X,Main Library,July,2016,z,email,True,2015,False,3.0
423441,3,SENIOR,1812,0,75 years and over,C2,Chinatown,July,2016,p,phone,False,2012,False,3.0

In [18]:
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [19]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B")

In [20]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

In [21]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered'])*12 + df['Circulation Active Month']
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,NaN
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,NaN
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0,75.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0,7.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0,31.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0,148.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,NaN

In [23]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,0.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0,75.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0,7.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0,31.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0,148.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,0.0

In [33]:
duration = df["Membership Duration"] == 0.0
df.loc[duration]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,0.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,0.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,NaN,NaN,z,email,True,2015,True,NaN,0.0
11,0,ADULT,0,0,25 to 34 years,P7,Potrero,NaN,NaN,z,email,True,2013,True,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423436,16,DIGITAL ACCESS CARD,0,0,10 to 19 years,P1,Park,NaN,NaN,z,email,True,2016,True,NaN,0.0
423437,1,JUVENILE,0,0,0 to 9 years,W4,Western Addition,NaN,NaN,z,email,True,2015,False,5.0,0.0
423438,0,ADULT,0,0,10 to 19 years,W4,Western Addition,NaN,NaN,z,email,True,2015,True,NaN,0.0
423439,1,JUVENILE,0,0,0 to 9 years,N4,Noe Valley/Sally Brunn,NaN,NaN,z,email,True,2015,False,8.0,0.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,0.0

In [46]:
100 / 423448 * 67904

16.035971358938998