### Aufgabe 3.1: Häufigkeiten

In [2]:
import pandas as pd
df = pd.read_csv("/home/schumahe/Schumacher/Modul_3/data/Library_Usage.csv")
df['Age Range'].value_counts()

25 to 34 years       91083
35 to 44 years       67390
10 to 19 years       58944
45 to 54 years       52492
0 to 9 years         38242
65 to 74 years       30141
20 to 24 years       29761
55 to 59 years       21230
60 to 64 years       19800
75 years and over    14150
Name: Age Range, dtype: int64

In [3]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.215208
35 to 44 years       0.159227
10 to 19 years       0.139271
45 to 54 years       0.124026
0 to 9 years         0.090357
65 to 74 years       0.071216
20 to 24 years       0.070318
55 to 59 years       0.050161
60 to 64 years       0.046783
75 years and over    0.033433
Name: Age Range, dtype: float64

In [4]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [5]:
age_mode = df['Age Range'].mode()

In [6]:
age_mode[0] # wo kommt die 0 her?

'25 to 34 years'

### Aufgabe 3.1: Häufigkeiten

In [7]:
df['Year Patron Registered'].value_counts()

2003    69257
2015    53951
2014    51902
2013    48251
2012    37395
2011    26531
2016    26288
2010    24321
2009    22307
2008    20518
2007    13289
2006    10776
2005     9668
2004     8994
Name: Year Patron Registered, dtype: int64

In [8]:
df.groupby('Year Patron Registered') # warum geht das nicht?

In [9]:
df['Year Patron Registered'].value_counts(normalize=True) * 100 # Listung absteigend nach Häufigkeit

2003    16.355491
2015    12.740880
2014    12.256995
2013    11.394788
2012     8.831073
2011     6.265468
2016     6.208082
2010     5.743562
2009     5.267943
2008     4.845459
2007     3.138284
2006     2.544823
2005     2.283161
2004     2.123992
Name: Year Patron Registered, dtype: float64

In [10]:
df['Age Range'].value_counts(normalize=True) * 100

25 to 34 years       21.520770
35 to 44 years       15.922671
10 to 19 years       13.927080
45 to 54 years       12.402625
0 to 9 years          9.035685
65 to 74 years        7.121609
20 to 24 years        7.031824
55 to 59 years        5.016149
60 to 64 years        4.678274
75 years and over     3.343312
Name: Age Range, dtype: float64

In [11]:
df['Age Range'].value_counts()

25 to 34 years       91083
35 to 44 years       67390
10 to 19 years       58944
45 to 54 years       52492
0 to 9 years         38242
65 to 74 years       30141
20 to 24 years       29761
55 to 59 years       21230
60 to 64 years       19800
75 years and over    14150
Name: Age Range, dtype: int64

In [12]:
df.head(60)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015,z,email,True,2011,False,7.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016,z,email,True,2013,False,NaN
10,0,ADULT,102,31,25 to 34 years,M6,Mission,June,2012,z,email,True,2009,False,9.0
11,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2013,True,NaN
12,0,ADULT,45,11,25 to 34 years,P3,Parkside,May,2016,z,email,True,2013,False,4.0
13,0,ADULT,88,64,35 to 44 years,A5,Anza,July,2016,z,email,True,2011,False,1.0
14,0,ADULT,22,6,45 to 54 years,M2,Marina,May,2016,z,email,True,2010,False,2.0
15,0,ADULT,1,0,60 to 64 years,X,Main Library,May,2016,z,email,True,2014,True,NaN
16,0,ADULT,0,0,45 to 54 years,M4,Merced,None,None,z,email,True,2012,False,7.0
17,0,ADULT,5,1,25 to 34 years,A5,Anza,January,2012,z,email,True,2009,False,1.0
18,4,WELCOME,0,0,35 to 44 years,M6,Mission,None,None,z,email,True,2012,False,9.0
19,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2015,True,NaN
20,0,ADULT,0,0,25 to 34 years,M4,Merced,None,None,z,email,True,2015,False,7.0
21,0,ADULT,1,0,60 to 64 years,X,Main Library,June,2013,z,email,True,2013,True,NaN
22,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2003,True,NaN
23,0,ADULT,12,0,45 to 54 years,S7,Sunset,June,2014,z,email,True,2009,False,4.0
24,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2015,True,NaN
25,0,ADULT,0,0,35 to 44 years,A5,Anza,None,None,z,email,True,2011,True,NaN
26,0,ADULT,13,12,25 to 34 years,N6,North Beach,February,2014,z,email,True,2011,False,NaN
27,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2014,False,NaN
28,0,ADULT,3,0,25 to 34 years,O7,Ortega,August,2015,z,email,True,2015,True,NaN
29,0,ADULT,10,0,25 to 34 years,P5,Portola,October,2015,a,print,False,2011,False,NaN
30,0,ADULT,2,0,NaN,M2,Marina,September,2013,z,email,True,2013,False,3.0
31,0,ADULT,2,1,45 to 54 years,A5,Anza,February,2016,z,email,True,2015,False,NaN
32,0,ADULT,1989,3146,45 to 54 years,M6,Mission,May,2016,z,email,True,2003,False,8.0
33,0,ADULT,66,12,55 to 59 years,M2,Marina,July,2016,z,email,True,2009,False,2.0
34,3,SENIOR,29,0,65 to 74 years,O7,Ortega,July,2016,p,phone,False,2015,False,4.0
35,0,ADULT,322,316,35 to 44 years,P1,Park,July,2016,z,email,True,2006,False,5.0
36,0,ADULT,101,0,45 to 54 years,X,Main Library,February,2014,z,email,True,2013,False,5.0
37,0,ADULT,0,0,NaN,X,Main Library,None,None,z,email,True,2014,False,3.0
38,0,ADULT,25,1,45 to 54 years,P1,Park,August,2011,z,email,True,2009,False,5.0
39,0,ADULT,0,0,45 to 54 years,X,Main Library,None,None,z,email,True,2014,False,4.0
40,0,ADULT,2,0,35 to 44 years,P3,Parkside,July,2012,z,email,True,2012,False,4.0
41,0,ADULT,0,0,55 to 59 years,X,Main Library,None,None,z,email,True,2013,False,NaN
42,0,ADULT,4,0,NaN,P9,Presidio,July,2013,z,email,True,2013,False,2.0
43,0,ADULT,0,0,35 to 44 years,M6,Mission,None,None,z,email,True,2012,False,NaN
44,0,ADULT,79,40,60 to 64 years,O7,Ortega,June,2012,z,email,True,2003,False,4.0
45,0,ADULT,47,16,25 to 34 years,M4,Merced,June,2016,p,phone,False,2010,False,11.0
46,0,ADULT,12,0,25 to 34 years,M2,Marina,October,2013,p,phone,False,2012,False,1.0
47,0,ADULT,4,1,25 to 34 years,M4,Merced,April,2015,z,email,True,2012,False,4.0
48,0,ADULT,25,0,25 to 34 years,X,Main Library,May,2014,z,email,True,2005,True,NaN
49,0,ADULT,1625,800,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2004,False,NaN
50,0,ADULT,0,0,60 to 64 years,R3,Richmond,October,2009,z,email,True,2004,True,NaN
51,0,ADULT,3,0,25 to 34 years,A5,Anza,August,2014,z,email,True,2012,False,4.0
52,0,ADULT,0,0,20 to 24 years,A5,Anza,None,None,p,phone,False,2013,False,NaN
53,0,ADULT,5,0,25 to 34 years,O7,Ortega,July,2016,z,email,True,2015,False,4.0
54,0,ADULT,1499,581,55 to 59 years,C2,Chinatown,July,2016,p,phone,False,2003,True,NaN
55,0,ADULT,28,30,55 to 59 years,S7,Sunset,May,2016,z,email,True,2012,True,NaN
56,0,ADULT,30,7,35 to 44 years,X,Main Library,July,2013,z,email,True,2009,True,NaN
57,0,ADULT,65,113,35 to 44 years,O7,Ortega,October,2015,z,email,True,2010,True,NaN
58,0,ADULT,11,1,60 to 64 years,O7,Ortega,March,2014,p,phone,False,2013,False,7.0
59,0,ADULT,6,0,25 to 34 years,P5,Portola,June,2013,a,print,False,2011,False,9.0

In [13]:
df['Age Range'].fillna(df['Age Range'].mode())

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423448, dtype: object

In [14]:
df['Age Range'].fillna(age_mode[0])

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423448, dtype: object

In [15]:
df.head(60)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015,z,email,True,2011,False,7.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016,z,email,True,2013,False,NaN
10,0,ADULT,102,31,25 to 34 years,M6,Mission,June,2012,z,email,True,2009,False,9.0
11,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2013,True,NaN
12,0,ADULT,45,11,25 to 34 years,P3,Parkside,May,2016,z,email,True,2013,False,4.0
13,0,ADULT,88,64,35 to 44 years,A5,Anza,July,2016,z,email,True,2011,False,1.0
14,0,ADULT,22,6,45 to 54 years,M2,Marina,May,2016,z,email,True,2010,False,2.0
15,0,ADULT,1,0,60 to 64 years,X,Main Library,May,2016,z,email,True,2014,True,NaN
16,0,ADULT,0,0,45 to 54 years,M4,Merced,None,None,z,email,True,2012,False,7.0
17,0,ADULT,5,1,25 to 34 years,A5,Anza,January,2012,z,email,True,2009,False,1.0
18,4,WELCOME,0,0,35 to 44 years,M6,Mission,None,None,z,email,True,2012,False,9.0
19,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2015,True,NaN
20,0,ADULT,0,0,25 to 34 years,M4,Merced,None,None,z,email,True,2015,False,7.0
21,0,ADULT,1,0,60 to 64 years,X,Main Library,June,2013,z,email,True,2013,True,NaN
22,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2003,True,NaN
23,0,ADULT,12,0,45 to 54 years,S7,Sunset,June,2014,z,email,True,2009,False,4.0
24,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2015,True,NaN
25,0,ADULT,0,0,35 to 44 years,A5,Anza,None,None,z,email,True,2011,True,NaN
26,0,ADULT,13,12,25 to 34 years,N6,North Beach,February,2014,z,email,True,2011,False,NaN
27,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2014,False,NaN
28,0,ADULT,3,0,25 to 34 years,O7,Ortega,August,2015,z,email,True,2015,True,NaN
29,0,ADULT,10,0,25 to 34 years,P5,Portola,October,2015,a,print,False,2011,False,NaN
30,0,ADULT,2,0,NaN,M2,Marina,September,2013,z,email,True,2013,False,3.0
31,0,ADULT,2,1,45 to 54 years,A5,Anza,February,2016,z,email,True,2015,False,NaN
32,0,ADULT,1989,3146,45 to 54 years,M6,Mission,May,2016,z,email,True,2003,False,8.0
33,0,ADULT,66,12,55 to 59 years,M2,Marina,July,2016,z,email,True,2009,False,2.0
34,3,SENIOR,29,0,65 to 74 years,O7,Ortega,July,2016,p,phone,False,2015,False,4.0
35,0,ADULT,322,316,35 to 44 years,P1,Park,July,2016,z,email,True,2006,False,5.0
36,0,ADULT,101,0,45 to 54 years,X,Main Library,February,2014,z,email,True,2013,False,5.0
37,0,ADULT,0,0,NaN,X,Main Library,None,None,z,email,True,2014,False,3.0
38,0,ADULT,25,1,45 to 54 years,P1,Park,August,2011,z,email,True,2009,False,5.0
39,0,ADULT,0,0,45 to 54 years,X,Main Library,None,None,z,email,True,2014,False,4.0
40,0,ADULT,2,0,35 to 44 years,P3,Parkside,July,2012,z,email,True,2012,False,4.0
41,0,ADULT,0,0,55 to 59 years,X,Main Library,None,None,z,email,True,2013,False,NaN
42,0,ADULT,4,0,NaN,P9,Presidio,July,2013,z,email,True,2013,False,2.0
43,0,ADULT,0,0,35 to 44 years,M6,Mission,None,None,z,email,True,2012,False,NaN
44,0,ADULT,79,40,60 to 64 years,O7,Ortega,June,2012,z,email,True,2003,False,4.0
45,0,ADULT,47,16,25 to 34 years,M4,Merced,June,2016,p,phone,False,2010,False,11.0
46,0,ADULT,12,0,25 to 34 years,M2,Marina,October,2013,p,phone,False,2012,False,1.0
47,0,ADULT,4,1,25 to 34 years,M4,Merced,April,2015,z,email,True,2012,False,4.0
48,0,ADULT,25,0,25 to 34 years,X,Main Library,May,2014,z,email,True,2005,True,NaN
49,0,ADULT,1625,800,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2004,False,NaN
50,0,ADULT,0,0,60 to 64 years,R3,Richmond,October,2009,z,email,True,2004,True,NaN
51,0,ADULT,3,0,25 to 34 years,A5,Anza,August,2014,z,email,True,2012,False,4.0
52,0,ADULT,0,0,20 to 24 years,A5,Anza,None,None,p,phone,False,2013,False,NaN
53,0,ADULT,5,0,25 to 34 years,O7,Ortega,July,2016,z,email,True,2015,False,4.0
54,0,ADULT,1499,581,55 to 59 years,C2,Chinatown,July,2016,p,phone,False,2003,True,NaN
55,0,ADULT,28,30,55 to 59 years,S7,Sunset,May,2016,z,email,True,2012,True,NaN
56,0,ADULT,30,7,35 to 44 years,X,Main Library,July,2013,z,email,True,2009,True,NaN
57,0,ADULT,65,113,35 to 44 years,O7,Ortega,October,2015,z,email,True,2010,True,NaN
58,0,ADULT,11,1,60 to 64 years,O7,Ortega,March,2014,p,phone,False,2013,False,7.0
59,0,ADULT,6,0,25 to 34 years,P5,Portola,June,2013,a,print,False,2011,False,9.0

In [16]:
df["agefill"] = df['Age Range'].fillna("25 to 34 years")

In [17]:
df.head(60)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,agefill
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0,20 to 24 years
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0,25 to 34 years
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN,45 to 54 years
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0,25 to 34 years
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0,45 to 54 years
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN,65 to 74 years
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016,p,phone,True,2004,False,9.0,25 to 34 years
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014,p,phone,True,2014,False,5.0,25 to 34 years
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015,z,email,True,2011,False,7.0,25 to 34 years
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016,z,email,True,2013,False,NaN,60 to 64 years
10,0,ADULT,102,31,25 to 34 years,M6,Mission,June,2012,z,email,True,2009,False,9.0,25 to 34 years
11,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2013,True,NaN,25 to 34 years
12,0,ADULT,45,11,25 to 34 years,P3,Parkside,May,2016,z,email,True,2013,False,4.0,25 to 34 years
13,0,ADULT,88,64,35 to 44 years,A5,Anza,July,2016,z,email,True,2011,False,1.0,35 to 44 years
14,0,ADULT,22,6,45 to 54 years,M2,Marina,May,2016,z,email,True,2010,False,2.0,45 to 54 years
15,0,ADULT,1,0,60 to 64 years,X,Main Library,May,2016,z,email,True,2014,True,NaN,60 to 64 years
16,0,ADULT,0,0,45 to 54 years,M4,Merced,None,None,z,email,True,2012,False,7.0,45 to 54 years
17,0,ADULT,5,1,25 to 34 years,A5,Anza,January,2012,z,email,True,2009,False,1.0,25 to 34 years
18,4,WELCOME,0,0,35 to 44 years,M6,Mission,None,None,z,email,True,2012,False,9.0,35 to 44 years
19,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2015,True,NaN,35 to 44 years
20,0,ADULT,0,0,25 to 34 years,M4,Merced,None,None,z,email,True,2015,False,7.0,25 to 34 years
21,0,ADULT,1,0,60 to 64 years,X,Main Library,June,2013,z,email,True,2013,True,NaN,60 to 64 years
22,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2003,True,NaN,35 to 44 years
23,0,ADULT,12,0,45 to 54 years,S7,Sunset,June,2014,z,email,True,2009,False,4.0,45 to 54 years
24,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2015,True,NaN,25 to 34 years
25,0,ADULT,0,0,35 to 44 years,A5,Anza,None,None,z,email,True,2011,True,NaN,35 to 44 years
26,0,ADULT,13,12,25 to 34 years,N6,North Beach,February,2014,z,email,True,2011,False,NaN,25 to 34 years
27,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2014,False,NaN,35 to 44 years
28,0,ADULT,3,0,25 to 34 years,O7,Ortega,August,2015,z,email,True,2015,True,NaN,25 to 34 years
29,0,ADULT,10,0,25 to 34 years,P5,Portola,October,2015,a,print,False,2011,False,NaN,25 to 34 years
30,0,ADULT,2,0,NaN,M2,Marina,September,2013,z,email,True,2013,False,3.0,25 to 34 years
31,0,ADULT,2,1,45 to 54 years,A5,Anza,February,2016,z,email,True,2015,False,NaN,45 to 54 years
32,0,ADULT,1989,3146,45 to 54 years,M6,Mission,May,2016,z,email,True,2003,False,8.0,45 to 54 years
33,0,ADULT,66,12,55 to 59 years,M2,Marina,July,2016,z,email,True,2009,False,2.0,55 to 59 years
34,3,SENIOR,29,0,65 to 74 years,O7,Ortega,July,2016,p,phone,False,2015,False,4.0,65 to 74 years
35,0,ADULT,322,316,35 to 44 years,P1,Park,July,2016,z,email,True,2006,False,5.0,35 to 44 years
36,0,ADULT,101,0,45 to 54 years,X,Main Library,February,2014,z,email,True,2013,False,5.0,45 to 54 years
37,0,ADULT,0,0,NaN,X,Main Library,None,None,z,email,True,2014,False,3.0,25 to 34 years
38,0,ADULT,25,1,45 to 54 years,P1,Park,August,2011,z,email,True,2009,False,5.0,45 to 54 years
39,0,ADULT,0,0,45 to 54 years,X,Main Library,None,None,z,email,True,2014,False,4.0,45 to 54 years
40,0,ADULT,2,0,35 to 44 years,P3,Parkside,July,2012,z,email,True,2012,False,4.0,35 to 44 years
41,0,ADULT,0,0,55 to 59 years,X,Main Library,None,None,z,email,True,2013,False,NaN,55 to 59 years
42,0,ADULT,4,0,NaN,P9,Presidio,July,2013,z,email,True,2013,False,2.0,25 to 34 years
43,0,ADULT,0,0,35 to 44 years,M6,Mission,None,None,z,email,True,2012,False,NaN,35 to 44 years
44,0,ADULT,79,40,60 to 64 years,O7,Ortega,June,2012,z,email,True,2003,False,4.0,60 to 64 years
45,0,ADULT,47,16,25 to 34 years,M4,Merced,June,2016,p,phone,False,2010,False,11.0,25 to 34 years
46,0,ADULT,12,0,25 to 34 years,M2,Marina,October,2013,p,phone,False,2012,False,1.0,25 to 34 years
47,0,ADULT,4,1,25 to 34 years,M4,Merced,April,2015,z,email,True,2012,False,4.0,25 to 34 years
48,0,ADULT,25,0,25 to 34 years,X,Main Library,May,2014,z,email,True,2005,True,NaN,25 to 34 years
49,0,ADULT,1625,800,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2004,False,NaN,45 to 54 years
50,0,ADULT,0,0,60 to 64 years,R3,Richmond,October,2009,z,email,True,2004,True,NaN,60 to 64 years
51,0,ADULT,3,0,25 to 34 years,A5,Anza,August,2014,z,email,True,2012,False,4.0,25 to 34 years
52,0,ADULT,0,0,20 to 24 years,A5,Anza,None,None,p,phone,False,2013,False,NaN,20 to 24 years
53,0,ADULT,5,0,25 to 34 years,O7,Ortega,July,2016,z,email,True,2015,False,4.0,25 to 34 years
54,0,ADULT,1499,581,55 to 59 years,C2,Chinatown,July,2016,p,phone,False,2003,True,NaN,55 to 59 years
55,0,ADULT,28,30,55 to 59 years,S7,Sunset,May,2016,z,email,True,2012,True,NaN,55 to 59 years
56,0,ADULT,30,7,35 to 44 years,X,Main Library,July,2013,z,email,True,2009,True,NaN,35 to 44 years
57,0,ADULT,65,113,35 to 44 years,O7,Ortega,October,2015,z,email,True,2010,True,NaN,35 to 44 years
58,0,ADULT,11,1,60 to 64 years,O7,Ortega,March,2014,p,phone,False,2013,False,7.0,60 to 64 years
59,0,ADULT,6,0,25 to 34 years,P5,Portola,June,2013,a,print,False,2011,False,9.0,25 to 34 years

In [18]:
# schlechte Methode fehlende Werte zu ersetzen, weil die Werte der Gruppe unsauber werden 
# sowie alle Verhältnisse zu anderen Werten auch