### Aufgabe 3.4: Varianz

In [3]:
import pandas as pd 
df = pd.read_csv("/home/schumahe/Schumacher/Modul_3/data/Library_Usage.csv")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [4]:
df['Total Checkouts'].std()

453.7036783611259

In [5]:
df['Total Checkouts'].mean()

161.98209697530748

In [6]:
# Variationskoeffizient cv:
df['Total Checkouts'].std() / df['Total Checkouts'].mean()

2.8009495298130904

In [7]:
df['Total Renewals'].std()

225.0099169494503

In [8]:
df['Total Renewals'].mean()

59.657327464056976

In [9]:
# Variationskoeffizient cv:
df['Total Renewals'].std() / df['Total Renewals'].mean()

3.7717062851167245

### Aufgabe 3.5: Exkurs AusreiÃŸerentfernung II

In [10]:
df['Total Checkouts'].quantile(q=0.75)

113.0

In [11]:
(df['Total Checkouts'].quantile(q=0.75) - df['Total Checkouts'].quantile(q=0.25)) * 1.5

166.5

In [12]:
ausreisser2 = df['Total Checkouts'] > (df['Total Checkouts'].quantile(q=0.75) + 
(df['Total Checkouts'].quantile(q=0.75) - df['Total Checkouts'].quantile(q=0.25)) * 1.5)

In [13]:
ausreisser2

0         False
1         False
2         False
3         False
4         False
          ...
423443     True
423444    False
423445    False
423446    False
423447    False
Name: Total Checkouts, Length: 423448, dtype: bool

In [14]:
ausreisser2.mean()

0.1410940658593263

In [22]:
ausreisser2.value_counts()

False    363702
True      59746
Name: Total Checkouts, dtype: int64

In [24]:
100 / 423448 * 59746

14.10940658593263