### Aufgabe 2.7: Datentypen

In [1]:
# None, "None" = strings
# 5 = int, "5" = string
# "NaN", NaN = strings
# True = boolean, "True" = string

In [2]:
import pandas as pd
df = pd.read_csv("/home/schumahe/Schumacher/Modul_3/data/Library_Usage.csv")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [8]:
df.head(60)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015,z,email,True,2011,False,7.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016,z,email,True,2013,False,NaN
10,0,ADULT,102,31,25 to 34 years,M6,Mission,June,2012,z,email,True,2009,False,9.0
11,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2013,True,NaN
12,0,ADULT,45,11,25 to 34 years,P3,Parkside,May,2016,z,email,True,2013,False,4.0
13,0,ADULT,88,64,35 to 44 years,A5,Anza,July,2016,z,email,True,2011,False,1.0
14,0,ADULT,22,6,45 to 54 years,M2,Marina,May,2016,z,email,True,2010,False,2.0
15,0,ADULT,1,0,60 to 64 years,X,Main Library,May,2016,z,email,True,2014,True,NaN
16,0,ADULT,0,0,45 to 54 years,M4,Merced,None,None,z,email,True,2012,False,7.0
17,0,ADULT,5,1,25 to 34 years,A5,Anza,January,2012,z,email,True,2009,False,1.0
18,4,WELCOME,0,0,35 to 44 years,M6,Mission,None,None,z,email,True,2012,False,9.0
19,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2015,True,NaN
20,0,ADULT,0,0,25 to 34 years,M4,Merced,None,None,z,email,True,2015,False,7.0
21,0,ADULT,1,0,60 to 64 years,X,Main Library,June,2013,z,email,True,2013,True,NaN
22,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2003,True,NaN
23,0,ADULT,12,0,45 to 54 years,S7,Sunset,June,2014,z,email,True,2009,False,4.0
24,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2015,True,NaN
25,0,ADULT,0,0,35 to 44 years,A5,Anza,None,None,z,email,True,2011,True,NaN
26,0,ADULT,13,12,25 to 34 years,N6,North Beach,February,2014,z,email,True,2011,False,NaN
27,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2014,False,NaN
28,0,ADULT,3,0,25 to 34 years,O7,Ortega,August,2015,z,email,True,2015,True,NaN
29,0,ADULT,10,0,25 to 34 years,P5,Portola,October,2015,a,print,False,2011,False,NaN
30,0,ADULT,2,0,NaN,M2,Marina,September,2013,z,email,True,2013,False,3.0
31,0,ADULT,2,1,45 to 54 years,A5,Anza,February,2016,z,email,True,2015,False,NaN
32,0,ADULT,1989,3146,45 to 54 years,M6,Mission,May,2016,z,email,True,2003,False,8.0
33,0,ADULT,66,12,55 to 59 years,M2,Marina,July,2016,z,email,True,2009,False,2.0
34,3,SENIOR,29,0,65 to 74 years,O7,Ortega,July,2016,p,phone,False,2015,False,4.0
35,0,ADULT,322,316,35 to 44 years,P1,Park,July,2016,z,email,True,2006,False,5.0
36,0,ADULT,101,0,45 to 54 years,X,Main Library,February,2014,z,email,True,2013,False,5.0
37,0,ADULT,0,0,NaN,X,Main Library,None,None,z,email,True,2014,False,3.0
38,0,ADULT,25,1,45 to 54 years,P1,Park,August,2011,z,email,True,2009,False,5.0
39,0,ADULT,0,0,45 to 54 years,X,Main Library,None,None,z,email,True,2014,False,4.0
40,0,ADULT,2,0,35 to 44 years,P3,Parkside,July,2012,z,email,True,2012,False,4.0
41,0,ADULT,0,0,55 to 59 years,X,Main Library,None,None,z,email,True,2013,False,NaN
42,0,ADULT,4,0,NaN,P9,Presidio,July,2013,z,email,True,2013,False,2.0
43,0,ADULT,0,0,35 to 44 years,M6,Mission,None,None,z,email,True,2012,False,NaN
44,0,ADULT,79,40,60 to 64 years,O7,Ortega,June,2012,z,email,True,2003,False,4.0
45,0,ADULT,47,16,25 to 34 years,M4,Merced,June,2016,p,phone,False,2010,False,11.0
46,0,ADULT,12,0,25 to 34 years,M2,Marina,October,2013,p,phone,False,2012,False,1.0
47,0,ADULT,4,1,25 to 34 years,M4,Merced,April,2015,z,email,True,2012,False,4.0
48,0,ADULT,25,0,25 to 34 years,X,Main Library,May,2014,z,email,True,2005,True,NaN
49,0,ADULT,1625,800,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2004,False,NaN
50,0,ADULT,0,0,60 to 64 years,R3,Richmond,October,2009,z,email,True,2004,True,NaN
51,0,ADULT,3,0,25 to 34 years,A5,Anza,August,2014,z,email,True,2012,False,4.0
52,0,ADULT,0,0,20 to 24 years,A5,Anza,None,None,p,phone,False,2013,False,NaN
53,0,ADULT,5,0,25 to 34 years,O7,Ortega,July,2016,z,email,True,2015,False,4.0
54,0,ADULT,1499,581,55 to 59 years,C2,Chinatown,July,2016,p,phone,False,2003,True,NaN
55,0,ADULT,28,30,55 to 59 years,S7,Sunset,May,2016,z,email,True,2012,True,NaN
56,0,ADULT,30,7,35 to 44 years,X,Main Library,July,2013,z,email,True,2009,True,NaN
57,0,ADULT,65,113,35 to 44 years,O7,Ortega,October,2015,z,email,True,2010,True,NaN
58,0,ADULT,11,1,60 to 64 years,O7,Ortega,March,2014,p,phone,False,2013,False,7.0
59,0,ADULT,6,0,25 to 34 years,P5,Portola,June,2013,a,print,False,2011,False,9.0

### Aufgabe 2.8: Exkurs Fehlende Werte

In [5]:
# Circulation Active Month, Circulation Active Year, Supervisor District

In [16]:
df = pd.read_csv("../data/Library_Usage.csv", na_values="NaN")
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors ='coerce')
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors ='coerce',
    format ="%B")

In [17]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

In [18]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0

In [19]:
df.dropna()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,7.0,2016.0,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,7.0,2014.0,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,6.0,2015.0,z,email,True,2011,False,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423442,2,YOUNG ADULT,608,364,10 to 19 years,S7,Sunset,7.0,2016.0,z,email,True,2003,False,7.0
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0

In [21]:
df.to_csv("/home/schumahe/Schumacher/Modul_3/data/Library_Usage_Clean.csv")

### Aufgabe 2.9: Pandas Funktionen

In [23]:
df.head(100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,ADULT,0,0,35 to 44 years,X,Main Library,NaN,NaN,z,email,True,2012,False,1.0
96,0,ADULT,11,0,20 to 24 years,X,Main Library,9.0,2015.0,z,email,True,2015,False,NaN
97,0,ADULT,160,44,25 to 34 years,R3,Richmond,5.0,2015.0,z,email,True,2003,False,1.0
98,0,ADULT,11,3,35 to 44 years,M2,Marina,3.0,2014.0,z,email,True,2003,False,NaN
99,0,ADULT,40,0,45 to 54 years,O7,Ortega,4.0,2015.0,p,phone,True,2003,False,4.0

In [22]:
df.head(n=100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,ADULT,0,0,35 to 44 years,X,Main Library,NaN,NaN,z,email,True,2012,False,1.0
96,0,ADULT,11,0,20 to 24 years,X,Main Library,9.0,2015.0,z,email,True,2015,False,NaN
97,0,ADULT,160,44,25 to 34 years,R3,Richmond,5.0,2015.0,z,email,True,2003,False,1.0
98,0,ADULT,11,3,35 to 44 years,M2,Marina,3.0,2014.0,z,email,True,2003,False,NaN
99,0,ADULT,40,0,45 to 54 years,O7,Ortega,4.0,2015.0,p,phone,True,2003,False,4.0