# Python Einf√ºhrung

- Stichpunkte
- Alles ist ein Lernen
- *fett* **kursiv**

In [1]:
print ("Hier wird ausgeprinted")

Hier wird ausgeprinted

# Einfache Datentypen
- Variablen & Werte zuweisen

In [9]:
# String - Zeichenkette
name = "Lovelace"

In [3]:
print (name)

Lovelace

In [5]:
# Integer - Ganzzahl
age = 37
print(age)

37

In [7]:
# Float
size = 1.7123
print(size)

1.7123

In [8]:
# Boolean - Boolscher Wert
knows_math = True
print(knows_math)
likes_gardening = False
print(likes_gardening)

True
False

In [15]:
# Typen anzeigen lassen
type(year)

str

In [14]:
year = "2021"

# Operatoren

In [16]:
5 + 5

10

In [17]:
age * 100

3700

In [18]:
name + name

'LovelaceLovelace'

In [19]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [20]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [21]:
name + "10"

'Lovelace10'

In [22]:
size / age

0.04627837837837838

In [23]:
number_of_articles = "50"

In [24]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [25]:
int(number_of_articles) / 10

5.0

# Funktionen und Methoden

In [26]:
len(name)

8

In [27]:
name.upper()

'LOVELACE'

In [28]:
name

'Lovelace'

In [29]:
name.count("e")

2

In [30]:
name.upper().count("L")

2

In [31]:
name.replace("lace", " is everywhere")

'Love is everywhere'

# Listen und Dictionaries

In [32]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [33]:
names[0]

'Lovelace'

In [34]:
names[1]

'Darwin'

In [35]:
names[-1]

'Hawking'

In [36]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [37]:
names[:2]

['Lovelace', 'Darwin']

In [38]:
names[2:]

['Curie', 'Hawking']

In [39]:
authors_and_birthyear = {"Lovelace": 1815, "Darwin": 1809, "Noether": 1882, "Hawking": 1942}

In [40]:
authors_and_birthyear["Lovelace"]

1815

In [71]:
authors_and_birthyear["Darwin"]

[1809, 1810, {'London': 1910, 'Greenwich': 1919}]

In [41]:
authors_and_birthyear["LOVELACE"]

KeyError: 'LOVELACE'

In [42]:
authors_and_birthyear = {"Lovelace": 1815, "Darwin": [1809, 1810], "Noether": 1882, "Hawking": 1942}

In [43]:
authors_and_birthyear["Darwin"]

[1809, 1810]

In [52]:
authors_and_birthyear = {"Lovelace": 1815, 
                         "Darwin": [1809, 1810, {"London": 1910, "Greenwich": 1919}], 
                         "Noether": 1882, 
                         "Hawking": 1942}

In [73]:
authors_and_birthyear["Noether"]

1882

In [117]:
authors_and_birthyear["Hawking"]

1942

# For Schleifen

In [45]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [46]:
for person in names:
    print(person + " did awesome stuff!")

Lovelace did awesome stuff!
Darwin did awesome stuff!
Curie did awesome stuff!
Hawking did awesome stuff!

In [47]:
for backstein in names:
    print(backstein + " did awesome stuff!")

Lovelace did awesome stuff!
Darwin did awesome stuff!
Curie did awesome stuff!
Hawking did awesome stuff!

In [48]:
for backstein in names: print(backstein + " did awesome stuff!")

Lovelace did awesome stuff!
Darwin did awesome stuff!
Curie did awesome stuff!
Hawking did awesome stuff!

In [49]:
for backstein in names:
print(backstein + " did awesome stuff!")

IndentationError: expected an indented block (507701420.py, line 2)

In [50]:
for backstein in names:
    print(backstein + " did awesome stuff!")
    print("----")

Lovelace did awesome stuff!
----
Darwin did awesome stuff!
----
Curie did awesome stuff!
----
Hawking did awesome stuff!
----

In [51]:
for backstein in names:
    print(backstein + " did awesome stuff!")
print("----")

Lovelace did awesome stuff!
Darwin did awesome stuff!
Curie did awesome stuff!
Hawking did awesome stuff!
----

In [53]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Bedingte Anweisungen (Conditionals)

In [55]:
20 > 10

True

In [56]:
20> 10

True

In [57]:
temp = 20
if temp > 15:
    print("is warm")

is warm

In [58]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [59]:
temp = 5
if temp > 15:
    print("is warm")

In [60]:
temp = 5
if temp > 15:
    print("It's warm")

In [61]:
temp = 15
if temp > 15:
    print("It's warm")

In [62]:
temp = 15
if temp >= 15:
    print("It's warm")

It's warm

In [64]:
temp = 9
if temp >= 15:
    print("It's warm")
else:
    print("It's cold.")

It's cold.

In [65]:
temp = 25
if temp >= 25:
    print("It's hot.")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's hot.

In [66]:
temp = 16
if temp >= 25:
    print("It's hot.")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [67]:
temp = 10
if temp >= 25:
    print("It's hot.")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [68]:
names1 = ["Dana", "Heinke", "Johannes"]
names_and_favourite_dish = {"Dana": "Spaghetti", "Heinke": "Gr√ºnkohl", "Johannes": "Lasagne"}
for person in names1:
    print (person + " mag gerne" + names_and_favourite_dish)

TypeError: can only concatenate str (not "dict") to str

In [70]:
names1 = ["Dana", "Heinke", "Johannes"]
names_and_favourite_dish = {"Dana": "Spaghetti", "Heinke": "Gr√ºnkohl", "Johannes": "Lasagne"}
for person in names1:
    print (person + " mag gerne " + names_and_favourite_dish[person])

Dana mag gerne Spaghetti
Heinke mag gerne Gr√ºnkohl
Johannes mag gerne Lasagne

In [74]:
for person in names1:
    print (person)

Dana
Heinke
Johannes

In [75]:
liste1 = [Dana, Heinke, Johannes]
for person in liste1:
    print (person)

NameError: name 'Dana' is not defined

In [76]:
print "Python lernen!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Python lernen!")? (2253348367.py, line 1)

In [77]:
print ()"Python lernen!")

SyntaxError: invalid syntax (4279822514.py, line 1)

In [78]:
print ("Python lernen!")

Python lernen!

In [79]:
print (Python lernen!)

SyntaxError: invalid syntax (4082218488.py, line 1)

In [80]:
print (18)

18

In [81]:
print (18.2345)

18.2345

In [82]:
liste1 = [3, 4, 5, 6, 7, 8]
for zahl in liste1:
    print zahl

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(zahl)? (1351550003.py, line 3)

In [83]:
liste1 = [3, 4, 5, 6, 7, 8]
for zahl in liste1:
    print (zahl)

3
4
5
6
7
8

In [85]:
liste1 = [3, 4, 5, 6, 7, 8]
for wert in liste1:
    print (wert)

3
4
5
6
7
8

In [88]:
liste1 = [3, 4, 5, 6, 7, 8]
for wert in liste1:
    sum(liste1)

In [89]:
liste1 = [3, 4, 5, 6, 7, 8]
Summe = sum(liste1):
    print ("Summe " {sum(liste1)})

SyntaxError: invalid syntax (2906636215.py, line 2)

In [106]:
liste1 = [3, 4, 5, 6, 7, 8]
Summe = sum(liste1)
print (f"Summe ist {Summe}")

Summe ist 33

In [102]:
liste1 = [3, 4, 5, 6, 7, 8]
for wert in liste1:
    sum(liste1)
print ({sum(liste1)})

{33}

In [103]:
liste1 = [3, 4, 5, 6, 7, 8]
for wert in liste1:
    sum(liste1)
print (sum(liste1))

33

In [104]:
liste1 = [3, 4, 5, 6, 7, 8]
sum(liste1)
print (sum(liste1))

33

In [111]:
liste1 = [3, 4, 5, 6, 7, 8]
sum(liste1)
print ("Dies ist die Summe " + "{sum(liste1)}")

Dies ist die Summe {sum(liste1)}

In [113]:
liste1 = [3, 4, 5, 6, 7, 8]
sum(liste1)
print ("Dies ist die Summe " + [sum(liste1)])

TypeError: can only concatenate str (not "list") to str

In [114]:
liste1 = [3, 4, 5, 6, 7, 8]
sum(liste1)
Summe = sum(liste1)
print ("Dies ist die Summe " + Summe)

TypeError: can only concatenate str (not "int") to str

In [118]:
names1 = ["Dana", "Heinke", "Johannes"]
names_and_favourite_dish = {"Dana": 1827, "Heinke": 1781, "Johannes": 1988}
for person in names1:
    print (person + " mag gerne " + names_and_favourite_dish[person])

TypeError: can only concatenate str (not "int") to str

In [119]:
names1 = ["Dana", "Heinke", "Johannes"]
names_and_favourite_dish = {"Dana": 1827, "Heinke": 1781, "Johannes": 1988}
for person in names1:
    print (person + " mag gerne " + names_and_favourite_dish["Dana"])

TypeError: can only concatenate str (not "int") to str

In [120]:
authors_and_birthyear = {"Lovelace": 1815, 
                         "Darwin": [1809, 1810, {"London": 1910, "Greenwich": 1919}], 
                         "Noether": 1882, 
                         "Hawking": 1942}
for wert in authors_and_birthyear:
    print(authors_and_birthyear)

{'Lovelace': 1815, 'Darwin': [1809, 1810, {'London': 1910, 'Greenwich': 1919}], 'Noether': 1882, 'Hawking': 1942}
{'Lovelace': 1815, 'Darwin': [1809, 1810, {'London': 1910, 'Greenwich': 1919}], 'Noether': 1882, 'Hawking': 1942}
{'Lovelace': 1815, 'Darwin': [1809, 1810, {'London': 1910, 'Greenwich': 1919}], 'Noether': 1882, 'Hawking': 1942}
{'Lovelace': 1815, 'Darwin': [1809, 1810, {'London': 1910, 'Greenwich': 1919}], 'Noether': 1882, 'Hawking': 1942}

In [122]:
authors_and_birthyear = {"Lovelace": 1815, 
                         "Darwin": [1809, 1810, {"London": 1910, "Greenwich": 1919}], 
                         "Noether": 1882, 
                         "Hawking": 1942}
print(authors_and_birthyear)

{'Lovelace': 1815, 'Darwin': [1809, 1810, {'London': 1910, 'Greenwich': 1919}], 'Noether': 1882, 'Hawking': 1942}

In [123]:
authors_and_birthyear = {"Lovelace": 1815, 
                         "Darwin": [1809, 1810, {"London": 1910, "Greenwich": 1919}], 
                         "Noether": 1882, 
                         "Hawking": 1942}

In [124]:
authors_and_birthyear["Noether"]

1882

In [125]:
liste1 = [3, 4, 5, 6, 7, 8]
Summe = sum(liste1)
print (f"Summe ist {Summe}")

Summe ist 33

In [1]:
authors_and_birthyear = {"Lovelace": 1815, 
                         "Darwin": [1809, 1810, {"London": 1910, "Greenwich": 1919}], 
                         "Noether": 1882, 
                         "Hawking": 1942}
print(authors_and_birthyear)

{'Lovelace': 1815, 'Darwin': [1809, 1810, {'London': 1910, 'Greenwich': 1919}], 'Noether': 1882, 'Hawking': 1942}

In [2]:
print("Keys and values: ")

Keys and values:

In [3]:
for name in authors_and_birthyear:
    print(name, authors_and_birthyear[name])

Lovelace 1815
Darwin [1809, 1810, {'London': 1910, 'Greenwich': 1919}]
Noether 1882
Hawking 1942

In [4]:
for name in authors_and_birthyear:
    print(name, authors_and_birthyear[birthyear])

NameError: name 'birthyear' is not defined

In [5]:
names1 = ["Dana", "Heinke", "Johannes"]
names_and_favourite_dish = {"Dana": 1827, "Heinke": 1781, "Johannes": 1988}
for person in names1:
    print (person, names_and_favourite_dish[person])

Dana 1827
Heinke 1781
Johannes 1988

In [7]:
names1 = ["Dana", "Heinke", "Johannes"]
names_and_favourite_dish = {"Dana": 1827, "Heinke": 1781, "Johannes": 1988}
for person in names1:
    print (person, "hat Geburtstag im Jahr", names_and_favourite_dish[person])

Dana hat Geburtstag im Jahr 1827
Heinke hat Geburtstag im Jahr 1781
Johannes hat Geburtstag im Jahr 1988

In [8]:
names1 = ["Dana", "Heinke", "Johannes"]
names_and_favourite_dish = {"Dana": "Spaghetti", "Heinke": "Gr√ºnkohl", "Johannes": "Lasagne"}
for person in names1:
    print (person + " mag gerne " + names_and_favourite_dish[person])

Dana mag gerne Spaghetti
Heinke mag gerne Gr√ºnkohl
Johannes mag gerne Lasagne

In [9]:
names_and_favourite_dish = {"Dana": "Spaghetti", "Heinke": "Gr√ºnkohl", "Johannes": "Lasagne"}
for person in names_and_favourite_dish:
    print (person + " mag gerne " + names_and_favourite_dish[person])

Dana mag gerne Spaghetti
Heinke mag gerne Gr√ºnkohl
Johannes mag gerne Lasagne

In [1]:
names_and_favourite_dish = {"Dana": "Spaghetti", "Heinke": "Gr√ºnkohl", "Johannes": "Lasagne"}
for person in names_and_favourite_dish:
    print (person + " mag gerne " + names_and_favourite_dish[person] + ".")

Dana mag gerne Spaghetti.
Heinke mag gerne Gr√ºnkohl.
Johannes mag gerne Lasagne.

In [2]:
authors_and_birthyear = {"Lovelace": 1815, 
                         "Darwin": [1809, 1810, {"London": 1910, "Greenwich": 1919}], 
                         "Noether": 1882, 
                         "Hawking": 1942}

In [3]:
names_and_favourite_dish = {"Dana": "Spaghetti", "Heinke": "Gr√ºnkohl", "Johannes": "Lasagne"}
for person in names_and_favourite_dish.keys():
    print (person + " mag gerne " + names_and_favourite_dish[person] + ".")

Dana mag gerne Spaghetti.
Heinke mag gerne Gr√ºnkohl.
Johannes mag gerne Lasagne.

# .keys() muss nicht explizit dazugenommen werden, wird automatisch ausgegeben.

In [1]:
authors_and_birthyear = {"Lovelace": 1815, 
                         "Darwin": [1809, 1810, {"London": 1910, "Greenwich": 1919}], 
                         "Noether": 1882, 
                         "Hawking": 1942}
authors_and_birthyear ["Darwin"][2]["London"]

1910